<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index">Django Training Demo</a>
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index"><span>Index</span></a>
                </li>
                <li class="nav-item">
                    <a href="home" class="nav-link">Hello World Demo</a>
                </li>
                <li class="nav-item">
                    <a href="product">Display Products</a>
                </li>
                <li class="nav-item">
                    <a href="load" class="nav-link">Users</a>
                </li>
                <li class="nav-item">
                    <a href="show">Message</a>
                </li>
                <li class="nav-item">
                    <a href="showuser">Show Users</a>
                </li>
                <li class="nav-item">
                    <a href="product">Product</a>
                </li>
                <li class="nav-item">
                    <a href="logging">Logging</a>
                </li>
                <li class="nav-item">
                    <a href="time">Show Current Time</a>
                </li>
                <li class="nav-item">
                    <a href="iftemp">Employee Info</a>
                </li>
                <li class="nav-item">
                    <a href="getmsg">Request for Message</a>
                </li>
                <li class="nav-item">
                    <a href="showuser">Calling RESTAPI 1</a>
                </li>
                <li class="nav-item">
                    <a href="showuser2">Calling RESTAPI 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="showuserdetails">Calling RESTAPI 3</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="author">Author</a>
                </li>
            </ul>
        </div>

    </nav>
    {% block content_block %}
    {% endblock %}
</body>
</html>